@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
body {
  background-color: black;
}

.whiteStar {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
}

.yellowStar {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: yellow;
}

#logo {
  width: 10em;
  position: fixed;
  bottom: 5px;
  opacity: 50%;
  cursor: pointer;
}

#heart {
  position: fixed;
  font-size: 250px;
  top: 70px;
  right: 50px;
  opacity: 70%;
  cursor: pointer;
  color: azure;
}

#startButton {
  position: fixed;
  left: 42%;
  top: 40%;
  padding: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  box-shadow: none;
  font-size: 2em;
  font-family: "Poller One", cursive;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.9);
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  animation: blink-effect 1.2s infinite;
  z-index: 999;
}

@keyframes blink-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

#intro {
  width: 60%;
  text-align: left;
  margin: 15% auto;
  color: pink;
  font-size: 2em;
  opacity: 0;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

#main {
  width: 100%;
  margin: -2.5em auto;
  text-align: center;
  font-family: "Poller One", cursive;
  font-size: 10em;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: skyblue;
  -webkit-text-stroke-width: 10px;
  opacity: 0;
}

@keyframes main {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  20% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

#content {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60vw;
  height: 200vh;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  transform: perspective(500px) rotateX(25deg);
  transform-origin: 50% 100%;
}

#text {
  opacity: 0;
  position: absolute;
  bottom: 0;
}

#text p {
  color: gray;
  background-color: aquamarine;
  text-align: center;
  letter-spacing: 0.3em;
}

#sender {
  font-size: 10em;
}

#episode {
  font-size: 5em;
}

#receiver {
  font-size: 6em;
}

#loveYou {
  font-size: 4em;
}

@keyframes scroll {
  0% {
    opacity: 1;
    top: 100%;
  }
  90% {
    opacity: 40%;
  }
  100% {
    opacity: 0;
    top: -200%;
  }
}

@media all and (min-width: 350px) and (max-width: 860px) {
  #logo {
    width: 10em;
  }

  #intro {
    position: relative;
    text-align: center;
    margin: 60% auto;
    font-size: 2em;
    opacity: 0;
  }

  #startButton {
    left: 28%;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    -webkit-text-stroke-width: 0.5px;
  }

  #main {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    opacity: 0;
  }

  @keyframes main {
    0% {
      opacity: 1;
      transform: scale(1.8);
    }
    20% {
      opacity: 1;
    }

    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
      font-size: 4em;
      transform: scale(0.1);
    }
  }

  #text p {
    font-size: 2.5em;
  }
}
